<div class="container">
  <h1>Home</h1>
  <div>
    <h4>User Details</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">User Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">password</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <!-- STEP -5 : Using the varibles to transfer the data on to the frontend -->
        <tr *ngFor="let user of userList">
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password }}</td>
          <td>
            <!-- Onclick redirecting to the update component also bringing the id of the row data-->
            <button
              type="button"
              class="btn btn-outline-secondary btn-sm"
              [routerLink]="['/update', user.id]"
            >
              Update
            </button>
            <button
              type="button"
              class="btn btn-outline-danger btn-sm"
              (click)="handleDelete(user.id)"
            >
              <!-- Passing user.id as argument to get user id of record-->>
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <h4>Posts Details</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Post Id</th>
          <th scope="col">Title</th>
          <th scope="col">User Id</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of postsList">
          <th scope="row">{{ post.id }}</th>
          <td>{{ post.title }}</td>
          <td>{{ post.userId }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <h4>Comments Details</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Comment Id</th>
          <th scope="col">Comment</th>
          <th scope="col">Post Id</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comment of commentsList">
          <th scope="row">{{ comment.id }}</th>
          <td>{{ comment.body }}</td>
          <td>{{ comment.postId }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
